#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
#~~~~~         chronoscore          ~~~~~ 
#~~~~~                              ~~~~~ 
#~~~~~           XC7A100T           ~~~~~ 
#~~~~~     Start of Constraints     ~~~~~ 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 


#~~~~~ Global Clocks ~~~~~~

# GCLK
NET "GCLK" LOC = E3;
NET "GCLK" IOSTANDARD = LVCMOS33;
#| TNM_NET = "clock";
#TIMESPEC "TS_clock"  = PERIOD "GCLK" 100 MHz HIGH 50 %;

#~~~~~ Global Inputs ~~~~~~

# ----- Switch -----
# SW0 - J15
NET "START" LOC = J15;
NET "START" IOSTANDARD = LVCMOS33;
# SW1 - L16 
NET "WAIT_t" LOC = L16;
NET "WAIT_t" IOSTANDARD = LVCMOS33;
# SW2 - M13
NET "TEST_HSLS" LOC = M13;
NET "TEST_HSLS" IOSTANDARD = LVCMOS33;
# SW3 - R15
NET "TESTVGA" LOC = R15;
NET "TESTVGA" IOSTANDARD = LVCMOS33;
# SW4 - R17
NET "VGAONOFF" LOC = R17;
NET "VGAONOFF" IOSTANDARD = LVCMOS33;

# SW15 - R17

NET "SELXMS" LOC = V10;
NET "SELXMS" IOSTANDARD = LVCMOS33;

NET "SELXS" LOC = U11;
NET "SELXS" IOSTANDARD = LVCMOS33;

NET "TONE" LOC = K1;
NET "TONE" IOSTANDARD = LVCMOS33;

# ----- Push Button -----
# CPU RESET - C12
NET "RESET" LOC = C12;
NET "RESET" IOSTANDARD = LVCMOS33;

# BTNU - M18
#NET "BPV"       LOC = M18 | IOSTANDARD = LVCMOS33;

# BTND - P18
#NET "BPOL"      LOC = P18 | IOSTANDARD = LVCMOS33;

# BTNC - N17
NET "TEST" LOC = T18;
NET "TEST" IOSTANDARD = LVCMOS33;

# BTNR - M17
#NET "BPreset"   LOC = M17 | IOSTANDARD = LVCMOS33;


# ----- RS232 -----
#NET "RX_IN"    LOC = D4 | IOSTANDARD = LVCMOS33;                                	# RXD   (DB9)
#NET "RX_IN"    LOC = C4 | IOSTANDARD = LVCMOS33;                                	# RXD-A (J1 Header)
#NET "TX_OUT"   LOC = R13 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;      	# TXD   (DB9)
#NET "TX_OUT"   LOC = T14 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;      	# TXD-A (J1 Header)

#~~~~~ Global Outputs ~~~~~~

# ----- 7 segments -----
# Anode Control 0
NET "AN[0]" LOC = J17;
NET "AN[0]" IOSTANDARD = LVCMOS33;
NET "AN[0]" DRIVE = 24;
NET "AN[0]" SLEW = FAST;
# Anode Control 1
NET "AN[1]" LOC = J18;
NET "AN[1]" IOSTANDARD = LVCMOS33;
NET "AN[1]" DRIVE = 24;
NET "AN[1]" SLEW = FAST;
# Anode Control 2
NET "AN[2]" LOC = T9;
NET "AN[2]" IOSTANDARD = LVCMOS33;
NET "AN[2]" DRIVE = 24;
NET "AN[2]" SLEW = FAST;
# Anode Control 3
NET "AN[3]" LOC = J14;
NET "AN[3]" IOSTANDARD = LVCMOS33;
NET "AN[3]" DRIVE = 24;
NET "AN[3]" SLEW = FAST;

# Anode Control 4
NET "AN[4]" LOC = P14;
NET "AN[4]" IOSTANDARD = LVCMOS33;
NET "AN[4]" DRIVE = 24;
NET "AN[4]" SLEW = FAST;
# Anode Control 5
NET "AN[5]" LOC = T14;
NET "AN[5]" IOSTANDARD = LVCMOS33;
NET "AN[5]" DRIVE = 24;
NET "AN[5]" SLEW = FAST;
# Anode Control 6
NET "AN[6]" LOC = K2;
NET "AN[6]" IOSTANDARD = LVCMOS33;
NET "AN[6]" DRIVE = 24;
NET "AN[6]" SLEW = FAST;
# Anode Control 7
NET "AN[7]" LOC = U13;
NET "AN[7]" IOSTANDARD = LVCMOS33;
NET "AN[7]" DRIVE = 24;
NET "AN[7]" SLEW = FAST;

# a  Digit
NET "LEDS[0]" LOC = T10;
NET "LEDS[0]" IOSTANDARD = LVCMOS33;
NET "LEDS[0]" DRIVE = 24;
NET "LEDS[0]" SLEW = FAST;
# b  Digit
NET "LEDS[1]" LOC = R10;
NET "LEDS[1]" IOSTANDARD = LVCMOS33;
NET "LEDS[1]" DRIVE = 24;
NET "LEDS[1]" SLEW = FAST;
# c  Digit
NET "LEDS[2]" LOC = K16;
NET "LEDS[2]" IOSTANDARD = LVCMOS33;
NET "LEDS[2]" DRIVE = 24;
NET "LEDS[2]" SLEW = FAST;
# d  Digit
NET "LEDS[3]" LOC = K13;
NET "LEDS[3]" IOSTANDARD = LVCMOS33;
NET "LEDS[3]" DRIVE = 24;
NET "LEDS[3]" SLEW = FAST;
# e  Digit
NET "LEDS[4]" LOC = P15;
NET "LEDS[4]" IOSTANDARD = LVCMOS33;
NET "LEDS[4]" DRIVE = 24;
NET "LEDS[4]" SLEW = FAST;
# f  Digit
NET "LEDS[5]" LOC = T11;
NET "LEDS[5]" IOSTANDARD = LVCMOS33;
NET "LEDS[5]" DRIVE = 24;
NET "LEDS[5]" SLEW = FAST;
# g  Digit
NET "LEDS[6]" LOC = L18;
NET "LEDS[6]" IOSTANDARD = LVCMOS33;
NET "LEDS[6]" DRIVE = 24;
NET "LEDS[6]" SLEW = FAST;
# dp Digit
NET "LEDS[7]" LOC = H15;
NET "LEDS[7]" IOSTANDARD = LVCMOS33;
NET "LEDS[7]" DRIVE = 24;
NET "LEDS[7]" SLEW = FAST;

# ----- VGA -----
# Red    (VGA)
NET "RED" LOC = A4;
NET "RED" IOSTANDARD = LVCMOS33;
NET "RED" DRIVE = 24;
NET "RED" SLEW = FAST;
# Green  (VGA)
NET "GREEN" LOC = A6;
NET "GREEN" IOSTANDARD = LVCMOS33;
NET "GREEN" DRIVE = 24;
NET "GREEN" SLEW = FAST;
# Blue   (VGA)
NET "BLUE" LOC = D8;
NET "BLUE" IOSTANDARD = LVCMOS33;
NET "BLUE" DRIVE = 24;
NET "BLUE" SLEW = FAST;
# HSynch (VGA)
NET "HSYNCH" LOC = B11;
NET "HSYNCH" IOSTANDARD = LVCMOS33;
NET "HSYNCH" DRIVE = 24;
NET "HSYNCH" SLEW = FAST;
# VSynch (VGA)
NET "VSYNCH" LOC = B12;
NET "VSYNCH" IOSTANDARD = LVCMOS33;
NET "VSYNCH" DRIVE = 24;
NET "VSYNCH" SLEW = FAST;






# PlanAhead Generated IO constraints 

NET "BPC" IOSTANDARD = LVCMOS33;
NET "BPD" IOSTANDARD = LVCMOS33;
NET "BPL" IOSTANDARD = LVCMOS33;
NET "BPR" IOSTANDARD = LVCMOS33;
NET "BPU" IOSTANDARD = LVCMOS33;

NET "RGBL[2]" IOSTANDARD = LVCMOS33;
NET "RGBL[1]" IOSTANDARD = LVCMOS33;
NET "RGBL[0]" IOSTANDARD = LVCMOS33;
NET "RGBR[2]" IOSTANDARD = LVCMOS33;
NET "RGBR[1]" IOSTANDARD = LVCMOS33;
NET "RGBR[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "BPD" LOC = P18;
NET "BPL" LOC = P17;
NET "BPR" LOC = M17;
NET "BPU" LOC = M18;
NET "BPC" LOC = N17;

NET "RGBL[2]" LOC = N16;
NET "RGBL[1]" LOC = R11;
NET "RGBL[0]" LOC = G14;

NET "RGBR[2]" LOC = N15;
NET "RGBR[1]" LOC = M16;
NET "RGBR[0]" LOC = R12;

